{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Blog: Live Long, Live Strong</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'blog_detail/assets/img/favicon.png' %} " rel="icon">
  <link href="{% static 'blog_detail/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'blog_detail/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog_detail/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static 'blog_detail/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog_detail/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'blog_detail/assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'blog_detail/assets/css/variables.css' %}" rel="stylesheet">
  <link href="{% static 'blog_detail/assets/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: ZenBlog
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>



<body>
    
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'base' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Live Long, Live Strong Blog</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'blogs' %}">Blogs</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="search-result.html" class="search-form">
            <span class="icon bi-search"></span>
            <input type="text" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">
    <section class="single-post-content d-flex justify-content-center">
      <div class="container">
        <div class="row">
          <div class="col-md-12 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">Blog</span> <span class="mx-1">&bullet;</span> <span>{{ blog_detail.date_posted }}</span></div>
              <h1 class="mb-5">    {{ blog_detail.title }}
              </h1>
              <p><span class="firstcharacter"> </span>{{ blog_detail.description }}</p>
              <figure class="my-4">
                {% if blog_detail.image_1 %}
                <img src="{{ blog_detail.image_1.url }}" class="img-fluid" alt="">
                {% endif %}
              
 
              </figure>
              <p>{{blog_detail.paragraph_1 }}</p>
              <p>{{blog_detail.paragraph_2 }}</p>
              <p>{{blog_detail.paragraph_3 }}</p>
              <p>{{blog_detail.paragraph_4 }}.</p>
             
              <figure class="my-4">
              
               <!-- video -->
               {% if blog_detail.video %}
               <video width="620" height="440" controls>
                   <source src="{{ blog_detail.video.url }}" type="video/mp4">
                   Your browser does not support the video tag.
               </video>
               {% endif %}
               </figure>
              <p>{{blog_detail.paragraph_5 }}</p>
              <p>{{blog_detail.paragraph_6 }}</p>
              <p>{{blog_detail.paragraph_7 }}</p>
              <p>{{blog_detail.paragraph_8 }}</p>

            </div><!-- End Single Post Content -->
       
<!-- ======= Comments ======= -->
<div class="comments">
  <h5 class="comment-title py-4">{{ comments.count }} Comments</h5>

  {% for comment in comments %}
  <div class="comment d-flex mb-4">
    <div class="flex-shrink-0">
      <div class="avatar avatar-sm rounded-circle">
        <!-- comment photo here -->
        <img class="avatar-img" src="{% static 'blog_detail/assets/img/comment.jpg' %}" alt="" class="img-fluid">
      </div>
    </div>
    <div class="flex-grow-1 ms-2 ms-sm-3">
      <div class="comment-meta d-flex align-items-baseline">
        <h6 class="me-2">{{ comment.name }}</h6>
        <span class="text-muted">{{ comment.date_posted|date:"F d, Y" }}</span>
      </div>
      <div class="comment-body">
        {{ comment.comment_body }}
      </div>

      {% if comment.replies.count > 0 %}
      <div class="comment-replies bg-light p-3 mt-3 rounded">
        <h6 class="comment-replies-title mb-4 text-muted text-uppercase">{{ comment.replies.count }} replies</h6>

        {% for reply in comment.replies.all %}
        <div class="reply d-flex mb-4">
          <div class="flex-shrink-0">
            <div class="avatar avatar-sm rounded-circle">
              <img class="avatar-img" src="{% static 'blog_detail/assets/img/comment.jpg' %}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="flex-grow-1 ms-2 ms-sm-3">
            <div class="reply-meta d-flex align-items-baseline">
              <h6 class="mb-0 me-2">{{ reply.name }}</h6>
              <span class="text-muted">{{ reply.date_posted|date:"F d, Y" }}</span>
            </div>
            <div class="reply-body">
              {{ reply.comment_body }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  {% endfor %}

</div><!-- End Comments -->

<!-- ======= Comments Form ======= -->

<!-- Leave a Comment -->
<div class="card my-4">
  <h5 class="card-header">Leave a Comment:</h5>
  <div class="card-body">
    <form method="POST" action="{% url 'blog_detail' blog_detail.id %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<!-- End Comments Form -->
</div>
        </div>
      </div>
    </section>
  </main>
  <!-- End #main -->


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 <!-- Vendor JS Files -->
 <script type="text/javascript" src="{% static 'blog_detail/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'blog_detail/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'blog_detail/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'blog_detail/assets/vendor/aos/aos.js' %}"></script>
 <script type="text/javascript" src="{% static 'blog_detail/assets/vendor/php-email-form/validate.js' %}"></script>

 <!-- Template Main JS File -->
 <script type="text/javascript" src="{% static 'blog_detail/assets/js/main.js' %}"></script>
</body>

</body>

</html>